<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>How Much Have You Drink?</title>
    <style>
table, th, td {
  border:1px solid black;
}
</style>
</head>
<body>
{%if user.is_authenticated%}
<p>This is how much you have drunk the milo</p>
<table style="width:100%">
  <tr>
    <th>{{marco.drinker}}</th>
    <th>{{user.get_username}}</th>
  </tr>
  <tr>
    <td>{{marco.drinks_num}}</td>
    <td>{{antor.drinks_num}}</td>
  </tr>
    <tr>
        <td>last drank at {{marco.add_date}}</td>
        <td>last drank at {{antor.add_date}}</td>
    </tr>


</table>
        {%if user.get_username == "marcohendra"%}
        <form action = "/drinkmilo">
        <button id="drink button1" class="btn">DRINK</button>
        </form>
        {%else%}
        <form action = "/drinkmilo2">
        <button id="drink button2" class="btn">DRINK</button>
        </form>
        {%endif%}

{%else%}
<p> <a href = "{%url 'registration'%}" class = "registration">not registered yet please register here</a></p>
{%endif%}
</body>
</html>